In [1]:
import org.apache.spark.sql.SparkSession
val sc = SparkSession.builder().getOrCreate()
sc.version

sc = org.apache.spark.sql.SparkSession@3fad390f

2.4.3

### 데이터 불러오기

In [2]:
val df = sc.read.format("csv").option("header", "true").option("inferSchema", "true")
            .load("./by-day/2010-12-10.csv")
df.printSchema()
df.createOrReplaceTempView("dfTable")

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

df = [InvoiceNo: string, StockCode: string ... 6 more fields]

[InvoiceNo: string, StockCode: string ... 6 more fields]

In [3]:
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   538172|    21562|HAWAIIAN GRASS SK...|      12|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538172|    79321|       CHILLI LIGHTS|       8|2010-12-10 09:33:00|     4.95|   15805.0|United Kingdom|
|   538172|    22041|"RECORD FRAME 7""...|      12|2010-12-10 09:33:00|     2.55|   15805.0|United Kingdom|
|   538172|   84558A|3D DOG PICTURE PL...|      12|2010-12-10 09:33:00|     2.95|   15805.0|United Kingdom|
|   538172|    22952|60 CAKE CASES VIN...|      24|2010-12-10 09:33:00|     0.55|   15805.0|United Kingdom|
|   538172|    22910|PAPER CHAIN KIT V...|      24|2010-12-10 09:33:00|     2.95|   15805.0|United Kingdom|
|   538172|    21098|CHRISTMAS TOILET ...|      24|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538172|    84212|"ASSORTED FLOWER ...|      24|2010-12-10 09:33:00|     0.65|   15805.0|United Kingdom|
|   538172|    21870|I CAN ONLY PLEASE...|      12|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538172|    22834|HAND WARMER BABUS...|      36|2010-12-10 09:33:00|      2.1|   15805.0|United Kingdom|
|   538172|    21914|BLUE HARMONICA IN...|      24|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538173|    22353|                null|     -28|2010-12-10 09:35:00|      0.0|      null|United Kingdom|
|   538174|    21210|SET OF 72 RETROSP...|      12|2010-12-10 09:35:00|     1.45|   12471.0|       Germany|
|   538174|    21212|PACK OF 72 RETROS...|      24|2010-12-10 09:35:00|     0.55|   12471.0|       Germany|
|   538174|    21578|WOODLAND DESIGN  ...|      24|2010-12-10 09:35:00|     2.25|   12471.0|       Germany|
|   538174|    21700|BIG DOUGHNUT FRID...|      72|2010-12-10 09:35:00|     0.85|   12471.0|       Germany|
|   538174|    16235|RECYCLED PENCIL W...|      60|2010-12-10 09:35:00|     0.21|   12471.0|       Germany|
|   538174|    21731|RED TOADSTOOL LED...|      48|2010-12-10 09:35:00|     1.65|   12471.0|       Germany|
|   538174|    21787|RAIN PONCHO RETRO...|      24|2010-12-10 09:35:00|     0.85|   12471.0|       Germany|
|   538174|    21232|STRAWBERRY CERAMI...|      36|2010-12-10 09:35:00|     1.25|   12471.0|       Germany|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

### 2. 스파크 데이터 타입으로 변환하기

lit 함수를 사용해 스파크 데이터 타입으로 변환함

In [20]:
import org.apache.spark.sql.functions.lit

df.select(lit(5), lit("five"), lit(5.0)).show()

+---+----+---+
|  5|five|5.0|
+---+----+---+
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
+---+----+---+
only showing top 20 rows

### 3. 불리언 데이터 타입 다루기

불리언은 모든 필터링 작업의 기반이므로 필수적으로 알아야 함. <br>
and, or, true, false로 구성됨.

In [6]:
import org.apache.spark.sql.functions.col

df.where(col("InvoiceNo").equalTo(538174))
    .select("InvoiceNo", "Description")
    .show(5, false)

// equalTo는 스칼라에서 === 와 동일하다.
df.where(col("InvoiceNo") === (538174))
    .select("InvoiceNo", "Description")
    .show(5, false)

+---------+----------------------------------+
|InvoiceNo|Description                       |
+---------+----------------------------------+
|538174   |SET OF 72 RETROSPOT PAPER  DOILIES|
|538174   |PACK OF 72 RETROSPOT CAKE CASES   |
|538174   |WOODLAND DESIGN  COTTON TOTE BAG  |
|538174   |BIG DOUGHNUT FRIDGE MAGNETS       |
|538174   |RECYCLED PENCIL WITH RABBIT ERASER|
+---------+----------------------------------+
only showing top 5 rows

+---------+----------------------------------+
|InvoiceNo|Description                       |
+---------+----------------------------------+
|538174   |SET OF 72 RETROSPOT PAPER  DOILIES|
|538174   |PACK OF 72 RETROSPOT CAKE CASES   |
|538174   |WOODLAND DESIGN  COTTON TOTE BAG  |
|538174   |BIG DOUGHNUT FRIDGE MAGNETS       |
|538174   |RECYCLED PENCIL WITH RABBIT ERASER|
+---------+----------------------------------+
only showing top 5 rows

In [12]:
// 가장 명확한 방법은 문자열 표현식에 조건절을 명시하는 것.
df.where("InvoiceNo = 538174").show(5, false)
df.where("InvoiceNo <> 538174").show(5, false)

+---------+---------+----------------------------------+--------+-------------------+---------+----------+-------+
|InvoiceNo|StockCode|Description                       |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country|
+---------+---------+----------------------------------+--------+-------------------+---------+----------+-------+
|538174   |21210    |SET OF 72 RETROSPOT PAPER  DOILIES|12      |2010-12-10 09:35:00|1.45     |12471.0   |Germany|
|538174   |21212    |PACK OF 72 RETROSPOT CAKE CASES   |24      |2010-12-10 09:35:00|0.55     |12471.0   |Germany|
|538174   |21578    |WOODLAND DESIGN  COTTON TOTE BAG  |24      |2010-12-10 09:35:00|2.25     |12471.0   |Germany|
|538174   |21700    |BIG DOUGHNUT FRIDGE MAGNETS       |72      |2010-12-10 09:35:00|0.85     |12471.0   |Germany|
|538174   |16235    |RECYCLED PENCIL WITH RABBIT ERASER|60      |2010-12-10 09:35:00|0.21     |12471.0   |Germany|
+---------+---------+----------------------------------+--------+-------------------+---------+----------+-------+
only showing top 5 rows

+---------+---------+-------------------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                    |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |
+---------+---------+-------------------------------+--------+-------------------+---------+----------+--------------+
|538172   |21562    |HAWAIIAN GRASS SKIRT           |12      |2010-12-10 09:33:00|1.25     |15805.0   |United Kingdom|
|538172   |79321    |CHILLI LIGHTS                  |8       |2010-12-10 09:33:00|4.95     |15805.0   |United Kingdom|
|538172   |22041    |"RECORD FRAME 7"" SINGLE SIZE "|12      |2010-12-10 09:33:00|2.55     |15805.0   |United Kingdom|
|538172   |84558A   |3D DOG PICTURE PLAYING CARDS   |12      |2010-12-10 09:33:00|2.95     |15805.0   |United Kingdom|
|538172   |22952    |60 CAKE CASES VINTAGE CHRISTMAS|24      |2010-12-10 09:33:00|0.55     |15805.0   |United Kingdom|
+---------+---------+-------------------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

and, or 메서드는 사용해서 불리언 표현식을 여러 부분으로 지정할 수 있다. <br>
불리언 표현식을 사용하는 경우 항상 모든 표현식을 and 메서드로 묶어 차례대로 필터를 적용함. <br>
<br>
스파크는 내부적으로 and 구문을 필터 사이에 추가해 모든 필터를 하나의 문장으로 변환함. <br>
 - 반면 or 구문을 사용할 때는 반드시 동일한 구문에 조건을 정의해야 함

In [16]:
// or 구문을 적용하기 위해 priceFilter, descripFIlter를 만들어 or 메서드를 사용함.
val priceFilter = col("UnitPrice") > 600
val descripFilter = col("Description").contains("POSTAGE")
df.where(col("StockCode").isin("DOT")).where(priceFilter.or(descripFilter)).show()

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|   538177|      DOT|DOTCOM POSTAGE|       1|2010-12-10 09:51:00|   847.42|      null|United Kingdom|
|   538349|      DOT|DOTCOM POSTAGE|       1|2010-12-10 14:59:00|   907.47|      null|United Kingdom|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+

priceFilter = (UnitPrice > 600)
descripFilter = contains(Description, POSTAGE)

contains(Description, POSTAGE)

In [19]:
val DOTCodeFilter = col("StockCode") === "DOT"
val priceFilter = col("UnitPrice") > 600
val descripFilter = col("Description").contains("POSTAGE")
df.withColumn("isExpensive", DOTCodeFilter.and(priceFilter.or(descripFilter)))
    .where("isExpensive").select("unitPrice", "isExpensive").show(5)

+---------+-----------+
|unitPrice|isExpensive|
+---------+-----------+
|   847.42|       true|
|   907.47|       true|
+---------+-----------+

DOTCodeFilter = (StockCode = DOT)
priceFilter = (UnitPrice > 600)
descripFilter = contains(Description, POSTAGE)

contains(Description, POSTAGE)

In [21]:
// 위와 같이 필터를 반드시 표현식으로 정의할 필요는 없다.
import org.apache.spark.sql.functions.{expr, not, col}

df.withColumn("isExpensive", not(col("UnitPrice").leq(250)))
    .filter("isExpensive")
    .select("Description", "UnitPrice").show(5)

// 아래 코드는 SQL에 익숙한 사람들이 사용하기 좋음.
// SQL을 사용한다고 해서 성능 저하가 발생하지 않는다.
df.withColumn("isExpensive", expr("NOT UnitPrice <= 250"))
    .filter("isExpensive")
    .select("Description", "UnitPrice").show(5)

+--------------+---------+
|   Description|UnitPrice|
+--------------+---------+
|DOTCOM POSTAGE|   847.42|
|DOTCOM POSTAGE|   907.47|
+--------------+---------+

### 4. 수치형 데이터 타입 다루기

In [23]:
// 간단한 수량을 더하는 작업
import org.apache.spark.sql.functions.{expr, pow}

val fabricatedQuantity = pow(col("Quantity") * col("UnitPrice"), 2) + 5
df.select(expr("CustomerId"), fabricatedQuantity.alias("realQuantity")).show(2)

// SQL 표현
df.selectExpr("CustomerId", "POWER((Quantity * UnitPrice), 2.0) + 5 as realQuantity").show(2)

+----------+------------+
|CustomerId|realQuantity|
+----------+------------+
|   15805.0|       230.0|
|   15805.0|     1573.16|
+----------+------------+
only showing top 2 rows

+----------+------------+
|CustomerId|realQuantity|
+----------+------------+
|   15805.0|       230.0|
|   15805.0|     1573.16|
+----------+------------+
only showing top 2 rows

fabricatedQuantity = (POWER((Quantity * UnitPrice), 2.0) + 5)

(POWER((Quantity * UnitPrice), 2.0) + 5)

In [24]:
// 반올림. 때로는 소수점 자리를 없애기 위해 Integer 데이터 타입으로 형변환하기도 함.
// 내림은 bround 함수를 사용함.
import org.apache.spark.sql.functions.{round, bround}
df.select(round(col("UnitPrice"), 1).alias("rounded"), col("UnitPrice")).show(5)

+-------+---------+
|rounded|UnitPrice|
+-------+---------+
|    1.3|     1.25|
|    5.0|     4.95|
|    2.6|     2.55|
|    3.0|     2.95|
|    0.6|     0.55|
+-------+---------+
only showing top 5 rows

In [25]:
import org.apache.spark.sql.functions.lit

df.select(round(lit("2.5")), bround(lit("2.5"))).show(2)

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
|          3.0|           2.0|
+-------------+--------------+
only showing top 2 rows

In [30]:
// 두 컬럼 사이의 상관관계 계산
import org.apache.spark.sql.functions.{corr}

df.stat.corr("Quantity", "UnitPrice")
df.select(corr("Quantity", "UnitPrice")).show()

+-------------------------+
|corr(Quantity, UnitPrice)|
+-------------------------+
|     -0.02802551979854...|
+-------------------------+

In [32]:
// 하나 이상의 컬럼에 대한 요약 통계를 계산하는 작업
// 관련 컬럼에 대해 집계, 평균, 표준편차, 최솟값, 최대값 제공
df.select("InvoiceNo", "StockCode", "Quantity", "UnitPrice").describe().show()

+-------+-----------------+------------------+------------------+------------------+
|summary|        InvoiceNo|         StockCode|          Quantity|         UnitPrice|
+-------+-----------------+------------------+------------------+------------------+
|  count|             2758|              2758|              2758|              2758|
|   mean|538266.0758928572|27964.272652726526| 7.359318346627991| 4.650130529369104|
| stddev|76.38281478503671| 17614.08058257242|19.786335248719404|24.187828632489182|
|    min|           538172|             10002|              -145|               0.0|
|    max|          C538362|              POST|               288|            907.47|
+-------+-----------------+------------------+------------------+------------------+

In [36]:
// statFunctions 패키지는 다양한 통계 함수를 제공한다.
val colName = "UnitPrice"
val quantileProbs = Array(0.5)
val relError = 0.05

// approxQuantile을 통해 데이터의 백분위수를 정확하게 계산하거나 근사치를 계산할 수 있음.
df.stat.approxQuantile(colName, quantileProbs, relError)

colName = UnitPrice
quantileProbs = Array(0.5)
relError = 0.05

Array(2.51)

In [37]:
// crosstab을 통해 교차로나 자주 사용하는 항목 쌍을 확인하는 용도의 메서드
df.stat.crosstab("StockCode", "Quantity").show()

+------------------+---+---+---+----+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|StockCode_Quantity| -1|-11|-12|-144|-145|-15|-18| -2|-20|-21|-24|-28| -3|-30|-36| -4|-47|-48| -6|-96|  1| 10|100|104|106|108| 11|113|115| 12|120|128| 13| 14|144| 15| 16| 17| 18| 19|192|  2| 20| 21|216| 22| 23| 24|240| 25| 26|267| 27|272|288| 29|  3| 30| 31| 32| 33| 35| 36| 38|  4| 40| 45| 47| 48|  5| 50|  6| 60| 64| 65| 68|  7| 70| 72| 75|  8| 80| 82| 84|  9| 96|
+------------------+---+---+---+----+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|             22578|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21327|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22064|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21080|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22219|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             37447|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21908|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22818|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22285|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|           15056BL|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             72817|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22988|  0|  0|  1|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  2|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|
|             22274|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|            72351B|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|
|             20750|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21703|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22899|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22379|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22422|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22769|  0|  0|  0|   0|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
+------------------+---+---+---+----+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 20 rows

In [38]:
// monotonically_increasing_id를 통해 모든 로우에 고유 ID 값을 추가할 수 있음.
import org.apache.spark.sql.functions.monotonically_increasing_id
df.select(monotonically_increasing_id()).show(5)

+-----------------------------+
|monotonically_increasing_id()|
+-----------------------------+
|                            0|
|                            1|
|                            2|
|                            3|
|                            4|
+-----------------------------+
only showing top 5 rows

### 5. 문자열 데이터 타입 다루기

In [40]:
// initcap은 주어진 문자열에서 공백으로 나누는 모든 단어의 첫 글자를 대문자로 변경함.
import org.apache.spark.sql.functions.{initcap}

df.select(initcap(col("Description"))).show(5, false)

+-------------------------------+
|initcap(Description)           |
+-------------------------------+
|Hawaiian Grass Skirt           |
|Chilli Lights                  |
|"record Frame 7"" Single Size "|
|3d Dog Picture Playing Cards   |
|60 Cake Cases Vintage Christmas|
+-------------------------------+
only showing top 5 rows

In [41]:
// 소문자로 변경 lower, 대문자로 변경 upper
import org.apache.spark.sql.functions.{lower, upper}

df.select(col("Description"), 
         lower(col("Description")),
         upper(lower(col("Description")))).show(5)

+--------------------+--------------------+-------------------------+
|         Description|  lower(Description)|upper(lower(Description))|
+--------------------+--------------------+-------------------------+
|HAWAIIAN GRASS SK...|hawaiian grass sk...|     HAWAIIAN GRASS SK...|
|       CHILLI LIGHTS|       chilli lights|            CHILLI LIGHTS|
|"RECORD FRAME 7""...|"record frame 7""...|     "RECORD FRAME 7""...|
|3D DOG PICTURE PL...|3d dog picture pl...|     3D DOG PICTURE PL...|
|60 CAKE CASES VIN...|60 cake cases vin...|     60 CAKE CASES VIN...|
+--------------------+--------------------+-------------------------+
only showing top 5 rows

In [49]:
// 공백 제거 함수들
// lpad, rpad는 문자열의 길이보다 작은 숫자를 넘기면 문자열의 오른쪽부터 제거됨.
import org.apache.spark.sql.functions.{lit, ltrim, rtrim, rpad, lpad, trim}

df.select(
    ltrim(lit("   HELLO   ")).as("ltrim"),
    rtrim(lit("   HELLO   ")).as("rtrim"),
    trim(lit("   HELLO   ")).as("trim"),
    lpad(lit("HELLO"), 3, " ").as("lp"),
    rpad(lit("HELLO"), 10, " ").as("rp")
).show(5)

+--------+--------+-----+---+----------+
|   ltrim|   rtrim| trim| lp|        rp|
+--------+--------+-----+---+----------+
|HELLO   |   HELLO|HELLO|HEL|HELLO     |
|HELLO   |   HELLO|HELLO|HEL|HELLO     |
|HELLO   |   HELLO|HELLO|HEL|HELLO     |
|HELLO   |   HELLO|HELLO|HEL|HELLO     |
|HELLO   |   HELLO|HELLO|HEL|HELLO     |
+--------+--------+-----+---+----------+
only showing top 5 rows

In [7]:
// 정규 표현식
// 문자열의 존재 여부를 확인하거나 일치하는 모든 문자열을 치환할 때 사용함.
// regexp_replace

import org.apache.spark.sql.functions.regexp_replace
val simpleColors = Seq("black", "white", "red", "green", "blud")
val regexString = simpleColors.map(_.toUpperCase).mkString("|") // 파이프문자 (|)는 정규표현식에서 or를 뜻함.

df.select(
    regexp_replace(col("Description"), regexString, "COLOR").alias("color_clean"), col("Description")
).show(50, false)

+-----------------------------------+-----------------------------------+
|color_clean                        |Description                        |
+-----------------------------------+-----------------------------------+
|HAWAIIAN GRASS SKIRT               |HAWAIIAN GRASS SKIRT               |
|CHILLI LIGHTS                      |CHILLI LIGHTS                      |
|"RECORD FRAME 7"" SINGLE SIZE "    |"RECORD FRAME 7"" SINGLE SIZE "    |
|3D DOG PICTURE PLAYING CARDS       |3D DOG PICTURE PLAYING CARDS       |
|60 CAKE CASES VINTAGE CHRISTMAS    |60 CAKE CASES VINTAGE CHRISTMAS    |
|PAPER CHAIN KIT VINTAGE CHRISTMAS  |PAPER CHAIN KIT VINTAGE CHRISTMAS  |
|CHRISTMAS TOILET ROLL              |CHRISTMAS TOILET ROLL              |
|"ASSORTED FLOWER COLOUR ""LEIS"""  |"ASSORTED FLOWER COLOUR ""LEIS"""  |
|I CAN ONLY PLEASE ONE PERSON MUG   |I CAN ONLY PLEASE ONE PERSON MUG   |
|HAND WARMER BABUSHKA DESIGN        |HAND WARMER BABUSHKA DESIGN        |
|BLUE HARMONICA IN BOX              |BLUE HARMONICA IN BOX              |
|null                               |null                               |
|SET OF 72 RETROSPOT PAPER  DOILIES |SET OF 72 RETROSPOT PAPER  DOILIES |
|PACK OF 72 RETROSPOT CAKE CASES    |PACK OF 72 RETROSPOT CAKE CASES    |
|WOODLAND DESIGN  COTTON TOTE BAG   |WOODLAND DESIGN  COTTON TOTE BAG   |
|BIG DOUGHNUT FRIDGE MAGNETS        |BIG DOUGHNUT FRIDGE MAGNETS        |
|RECYCLED PENCIL WITH RABBIT ERASER |RECYCLED PENCIL WITH RABBIT ERASER |
|COLOR TOADSTOOL LED NIGHT LIGHT    |RED TOADSTOOL LED NIGHT LIGHT      |
|RAIN PONCHO RETROSPOT              |RAIN PONCHO RETROSPOT              |
|STRAWBERRY CERAMIC TRINKET BOX     |STRAWBERRY CERAMIC TRINKET BOX     |
|6 RIBBONS RUSTIC CHARM             |6 RIBBONS RUSTIC CHARM             |
|ROUND SNACK BOXES SET OF4 WOODLAND |ROUND SNACK BOXES SET OF4 WOODLAND |
|REGENCY CAKESTAND 3 TIER           |REGENCY CAKESTAND 3 TIER           |
|TV DINNER TRAY DOLLY GIRL          |TV DINNER TRAY DOLLY GIRL          |
|PENCIL CASE LIFE IS BEAUTIFUL      |PENCIL CASE LIFE IS BEAUTIFUL      |
|PLASTERS IN TIN WOODLAND ANIMALS   |PLASTERS IN TIN WOODLAND ANIMALS   |
|PLASTERS IN TIN CIRCUS PARADE      |PLASTERS IN TIN CIRCUS PARADE      |
|PLASTERS IN TIN STRONGMAN          |PLASTERS IN TIN STRONGMAN          |
|CERAMIC STRAWBERRY CAKE MONEY BANK |CERAMIC STRAWBERRY CAKE MONEY BANK |
|CERAMIC CHERRY CAKE MONEY BANK     |CERAMIC CHERRY CAKE MONEY BANK     |
|STRAWBERRY FAIRY CAKE TEAPOT       |STRAWBERRY FAIRY CAKE TEAPOT       |
|PACK OF 12 TRADITIONAL CRAYONS     |PACK OF 12 TRADITIONAL CRAYONS     |
|PACK OF 20 NAPKINS PANTRY DESIGN   |PACK OF 20 NAPKINS PANTRY DESIGN   |
|PACK OF 20 NAPKINS COLOR APPLES    |PACK OF 20 NAPKINS RED APPLES      |
|OVEN MITT APPLES DESIGN            |OVEN MITT APPLES DESIGN            |
|SET 7 BABUSHKA NESTING BOXES       |SET 7 BABUSHKA NESTING BOXES       |
|BREAD BIN DINER STYLE PINK         |BREAD BIN DINER STYLE PINK         |
|ALARM CLOCK BAKELIKE PINK          |ALARM CLOCK BAKELIKE PINK          |
|HEN HOUSE W CHICK STANDING         |HEN HOUSE W CHICK STANDING         |
|ROSE COTTAGE KEEPSAKE BOX          |ROSE COTTAGE KEEPSAKE BOX          |
|PACK OF 12 COLOUCOLOR PENCILS      |PACK OF 12 COLOURED PENCILS        |
|FUNKY DIVA PEN                     |FUNKY DIVA PEN                     |
|CHEST OF DRAWERS GINGHAM HEART     |CHEST OF DRAWERS GINGHAM HEART     |
|ROUND SNACK BOXES SET OF4 WOODLAND |ROUND SNACK BOXES SET OF4 WOODLAND |
|TRADITIONAL KNITTING NANCY         |TRADITIONAL KNITTING NANCY         |
|BAKING MOULD CHOCOLATE CUPCAKES    |BAKING MOULD CHOCOLATE CUPCAKES    |
|POPPY'S PLAYHOUSE LIVINGROOM       |POPPY'S PLAYHOUSE LIVINGROOM       |
|POPPY'S PLAYHOUSE BEDROOM          |POPPY'S PLAYHOUSE BEDROOM          |
|POPPY'S PLAYHOUSE KITCHEN          |POPPY'S PLAYHOUSE KITCHEN          |
|LIPSTICK PEN COLOR                 |LIPSTICK PEN RED                   |
+-----------------------------------+-----------------------------------+
only showing top 50 rows

simpleColors = List(black, white, red, green, blud)
regexString = BLACK|WHITE|RED|GREEN|BLUD

BLACK|WHITE|RED|GREEN|BLUD

In [8]:
// translate 함수를 사용해 문자 치환
import org.apache.spark.sql.functions.translate

// 연산은 문자 단위로 이루어짐.
df.select(translate(col("Description"), "LEET", "1337"), col("Description")).show(50, false)

+-----------------------------------+-----------------------------------+
|translate(Description, LEET, 1337) |Description                        |
+-----------------------------------+-----------------------------------+
|HAWAIIAN GRASS SKIR7               |HAWAIIAN GRASS SKIRT               |
|CHI11I 1IGH7S                      |CHILLI LIGHTS                      |
|"R3CORD FRAM3 7"" SING13 SIZ3 "    |"RECORD FRAME 7"" SINGLE SIZE "    |
|3D DOG PIC7UR3 P1AYING CARDS       |3D DOG PICTURE PLAYING CARDS       |
|60 CAK3 CAS3S VIN7AG3 CHRIS7MAS    |60 CAKE CASES VINTAGE CHRISTMAS    |
|PAP3R CHAIN KI7 VIN7AG3 CHRIS7MAS  |PAPER CHAIN KIT VINTAGE CHRISTMAS  |
|CHRIS7MAS 7OI137 RO11              |CHRISTMAS TOILET ROLL              |
|"ASSOR73D F1OW3R CO1OUR ""13IS"""  |"ASSORTED FLOWER COLOUR ""LEIS"""  |
|I CAN ON1Y P13AS3 ON3 P3RSON MUG   |I CAN ONLY PLEASE ONE PERSON MUG   |
|HAND WARM3R BABUSHKA D3SIGN        |HAND WARMER BABUSHKA DESIGN        |
|B1U3 HARMONICA IN BOX              |BLUE HARMONICA IN BOX              |
|null                               |null                               |
|S37 OF 72 R37ROSPO7 PAP3R  DOI1I3S |SET OF 72 RETROSPOT PAPER  DOILIES |
|PACK OF 72 R37ROSPO7 CAK3 CAS3S    |PACK OF 72 RETROSPOT CAKE CASES    |
|WOOD1AND D3SIGN  CO77ON 7O73 BAG   |WOODLAND DESIGN  COTTON TOTE BAG   |
|BIG DOUGHNU7 FRIDG3 MAGN37S        |BIG DOUGHNUT FRIDGE MAGNETS        |
|R3CYC13D P3NCI1 WI7H RABBI7 3RAS3R |RECYCLED PENCIL WITH RABBIT ERASER |
|R3D 7OADS7OO1 13D NIGH7 1IGH7      |RED TOADSTOOL LED NIGHT LIGHT      |
|RAIN PONCHO R37ROSPO7              |RAIN PONCHO RETROSPOT              |
|S7RAWB3RRY C3RAMIC 7RINK37 BOX     |STRAWBERRY CERAMIC TRINKET BOX     |
|6 RIBBONS RUS7IC CHARM             |6 RIBBONS RUSTIC CHARM             |
|ROUND SNACK BOX3S S37 OF4 WOOD1AND |ROUND SNACK BOXES SET OF4 WOODLAND |
|R3G3NCY CAK3S7AND 3 7I3R           |REGENCY CAKESTAND 3 TIER           |
|7V DINN3R 7RAY DO11Y GIR1          |TV DINNER TRAY DOLLY GIRL          |
|P3NCI1 CAS3 1IF3 IS B3AU7IFU1      |PENCIL CASE LIFE IS BEAUTIFUL      |
|P1AS73RS IN 7IN WOOD1AND ANIMA1S   |PLASTERS IN TIN WOODLAND ANIMALS   |
|P1AS73RS IN 7IN CIRCUS PARAD3      |PLASTERS IN TIN CIRCUS PARADE      |
|P1AS73RS IN 7IN S7RONGMAN          |PLASTERS IN TIN STRONGMAN          |
|C3RAMIC S7RAWB3RRY CAK3 MON3Y BANK |CERAMIC STRAWBERRY CAKE MONEY BANK |
|C3RAMIC CH3RRY CAK3 MON3Y BANK     |CERAMIC CHERRY CAKE MONEY BANK     |
|S7RAWB3RRY FAIRY CAK3 73APO7       |STRAWBERRY FAIRY CAKE TEAPOT       |
|PACK OF 12 7RADI7IONA1 CRAYONS     |PACK OF 12 TRADITIONAL CRAYONS     |
|PACK OF 20 NAPKINS PAN7RY D3SIGN   |PACK OF 20 NAPKINS PANTRY DESIGN   |
|PACK OF 20 NAPKINS R3D APP13S      |PACK OF 20 NAPKINS RED APPLES      |
|OV3N MI77 APP13S D3SIGN            |OVEN MITT APPLES DESIGN            |
|S37 7 BABUSHKA N3S7ING BOX3S       |SET 7 BABUSHKA NESTING BOXES       |
|BR3AD BIN DIN3R S7Y13 PINK         |BREAD BIN DINER STYLE PINK         |
|A1ARM C1OCK BAK31IK3 PINK          |ALARM CLOCK BAKELIKE PINK          |
|H3N HOUS3 W CHICK S7ANDING         |HEN HOUSE W CHICK STANDING         |
|ROS3 CO77AG3 K33PSAK3 BOX          |ROSE COTTAGE KEEPSAKE BOX          |
|PACK OF 12 CO1OUR3D P3NCI1S        |PACK OF 12 COLOURED PENCILS        |
|FUNKY DIVA P3N                     |FUNKY DIVA PEN                     |
|CH3S7 OF DRAW3RS GINGHAM H3AR7     |CHEST OF DRAWERS GINGHAM HEART     |
|ROUND SNACK BOX3S S37 OF4 WOOD1AND |ROUND SNACK BOXES SET OF4 WOODLAND |
|7RADI7IONA1 KNI77ING NANCY         |TRADITIONAL KNITTING NANCY         |
|BAKING MOU1D CHOCO1A73 CUPCAK3S    |BAKING MOULD CHOCOLATE CUPCAKES    |
|POPPY'S P1AYHOUS3 1IVINGROOM       |POPPY'S PLAYHOUSE LIVINGROOM       |
|POPPY'S P1AYHOUS3 B3DROOM          |POPPY'S PLAYHOUSE BEDROOM          |
|POPPY'S P1AYHOUS3 KI7CH3N          |POPPY'S PLAYHOUSE KITCHEN          |
|1IPS7ICK P3N R3D                   |LIPSTICK PEN RED                   |
+-----------------------------------+-----------------------------------+
only showing top 50 rows

In [9]:
import org.apache.spark.sql.functions.regexp_extract

// 처음 나타난 색상 이름을 추출하는 작업
val regexString = simpleColors.map(_.toUpperCase).mkString("(","|",")")

df.select(regexp_extract(col("Description"), regexString, 1).alias("color_clean"), col("Description")).show(50, false)

+-----------+-----------------------------------+
|color_clean|Description                        |
+-----------+-----------------------------------+
|           |HAWAIIAN GRASS SKIRT               |
|           |CHILLI LIGHTS                      |
|           |"RECORD FRAME 7"" SINGLE SIZE "    |
|           |3D DOG PICTURE PLAYING CARDS       |
|           |60 CAKE CASES VINTAGE CHRISTMAS    |
|           |PAPER CHAIN KIT VINTAGE CHRISTMAS  |
|           |CHRISTMAS TOILET ROLL              |
|           |"ASSORTED FLOWER COLOUR ""LEIS"""  |
|           |I CAN ONLY PLEASE ONE PERSON MUG   |
|           |HAND WARMER BABUSHKA DESIGN        |
|           |BLUE HARMONICA IN BOX              |
|null       |null                               |
|           |SET OF 72 RETROSPOT PAPER  DOILIES |
|           |PACK OF 72 RETROSPOT CAKE CASES    |
|           |WOODLAND DESIGN  COTTON TOTE BAG   |
|           |BIG DOUGHNUT FRIDGE MAGNETS        |
|           |RECYCLED PENCIL WITH RABBIT ERASER |
|RED        |RED TOADSTOOL LED NIGHT LIGHT      |
|           |RAIN PONCHO RETROSPOT              |
|           |STRAWBERRY CERAMIC TRINKET BOX     |
|           |6 RIBBONS RUSTIC CHARM             |
|           |ROUND SNACK BOXES SET OF4 WOODLAND |
|           |REGENCY CAKESTAND 3 TIER           |
|           |TV DINNER TRAY DOLLY GIRL          |
|           |PENCIL CASE LIFE IS BEAUTIFUL      |
|           |PLASTERS IN TIN WOODLAND ANIMALS   |
|           |PLASTERS IN TIN CIRCUS PARADE      |
|           |PLASTERS IN TIN STRONGMAN          |
|           |CERAMIC STRAWBERRY CAKE MONEY BANK |
|           |CERAMIC CHERRY CAKE MONEY BANK     |
|           |STRAWBERRY FAIRY CAKE TEAPOT       |
|           |PACK OF 12 TRADITIONAL CRAYONS     |
|           |PACK OF 20 NAPKINS PANTRY DESIGN   |
|RED        |PACK OF 20 NAPKINS RED APPLES      |
|           |OVEN MITT APPLES DESIGN            |
|           |SET 7 BABUSHKA NESTING BOXES       |
|           |BREAD BIN DINER STYLE PINK         |
|           |ALARM CLOCK BAKELIKE PINK          |
|           |HEN HOUSE W CHICK STANDING         |
|           |ROSE COTTAGE KEEPSAKE BOX          |
|RED        |PACK OF 12 COLOURED PENCILS        |
|           |FUNKY DIVA PEN                     |
|           |CHEST OF DRAWERS GINGHAM HEART     |
|           |ROUND SNACK BOXES SET OF4 WOODLAND |
|           |TRADITIONAL KNITTING NANCY         |
|           |BAKING MOULD CHOCOLATE CUPCAKES    |
|           |POPPY'S PLAYHOUSE LIVINGROOM       |
|           |POPPY'S PLAYHOUSE BEDROOM          |
|           |POPPY'S PLAYHOUSE KITCHEN          |
|RED        |LIPSTICK PEN RED                   |
+-----------+-----------------------------------+
only showing top 50 rows

regexString = (BLACK|WHITE|RED|GREEN|BLUD)

(BLACK|WHITE|RED|GREEN|BLUD)

In [10]:
// 값 추출이 아닌 값의 존재 여부 확인
val containsBlack = col("Description").contains("BLACK")
val containsWhite = col("Description").contains("WHITE")

df.withColumn("hasSimpleColor", containsBlack.or(containsWhite))
    .where("hasSimpleColor").select("Description").show(5, false)

+----------------------------------+
|Description                       |
+----------------------------------+
|BAKING MOULD EASTER EGG WHITE CHOC|
|WHITE HANGING HEART T-LIGHT HOLDER|
|EDWARDIAN PARASOL BLACK           |
|BLACK EAR MUFF HEADPHONES         |
|BLACK RECORD COVER FRAME          |
+----------------------------------+
only showing top 5 rows

containsBlack = contains(Description, BLACK)
containsWhite = contains(Description, WHITE)

contains(Description, WHITE)

In [12]:
// 동적으로 인수의 개수가 변하는 경우 (???)
/// ???????????????????????????????????????????????????????????????
val simpleColors = Seq("black","white","red","green","blud")
val selectedColumns = simpleColors.map(color => {
    col("Description").contains(color.toUpperCase).alias(s"is_$color")
}):+expr("*")

df.select(selectedColumns:_*).where(col("is_white").or(col("is_red"))).select("Description").show(5, false)

Name: Compile Error
Message: <console>:38: error: not found: value expr
       }):+expr("*")
           ^

StackTrace:

### 6. 날짜와 타임스탬프 데이터 다루기

날짜와 시간은 프로그래밍 언어와 데이터베이스 분야의 변함없는 과제이다. <br>
계속해 시간대를 확인해야 하며, 포맷이 올바르고 유효한지 확인해야 한다. <br>
이러한 복잡함을 피하고자 두 종류의 시간 관련 정보만 집중적으로 관리함. (달력 형태의 data, 날짜, 시간 정보를 가지는 timestamp) <br>
스파크 inferSchema 옵션이 활성화된 경우 날짜와 타임스탬프를 포함하 컬럼을 최대한 정확히 식별하려 노력함.

In [15]:
import org.apache.spark.sql.functions.{current_date, current_timestamp}

val dateDF = sc.range(10)
    .withColumn("today", current_date())
    .withColumn("now", current_timestamp())
dateDF.createOrReplaceTempView("dataTable")
dateDF.show()

+---+----------+--------------------+
| id|     today|                 now|
+---+----------+--------------------+
|  0|2019-07-26|2019-07-26 06:59:...|
|  1|2019-07-26|2019-07-26 06:59:...|
|  2|2019-07-26|2019-07-26 06:59:...|
|  3|2019-07-26|2019-07-26 06:59:...|
|  4|2019-07-26|2019-07-26 06:59:...|
|  5|2019-07-26|2019-07-26 06:59:...|
|  6|2019-07-26|2019-07-26 06:59:...|
|  7|2019-07-26|2019-07-26 06:59:...|
|  8|2019-07-26|2019-07-26 06:59:...|
|  9|2019-07-26|2019-07-26 06:59:...|
+---+----------+--------------------+

dateDF = [id: bigint, today: date ... 1 more field]

[id: bigint, today: date ... 1 more field]

In [16]:
import org.apache.spark.sql.functions.{date_add, date_sub}

// 날짜 계산 5일 전후로.
dateDF.select(date_sub(col("today"), 5), date_add(col("today"), 5)).show(1)

+------------------+------------------+
|date_sub(today, 5)|date_add(today, 5)|
+------------------+------------------+
|        2019-07-21|        2019-07-31|
+------------------+------------------+
only showing top 1 row

In [21]:
import org.apache.spark.sql.functions.{datediff, months_between, to_date}

// 날짜간 일 차이 계산.
dateDF.withColumn("week_ago", date_sub(col("today"), 7))
    .select(datediff(col("week_ago"), col("today"))).show(1)

// 날짜간 월 차이 계산
// to_date는 문자열을 날짜로 변환할 수 있으며, 필요에 따라 날짜 포맷도 지정할 수 있음.
// 함수의 날짜 포맷은 자바의 SimpleDataFormat 클래스가 지원하는 포맷을 사용해야 함.
dateDF.select(
    to_date(lit("2016-01-01")).alias("start"),
    to_date(lit("2017-05-22")).alias("end")
).select(months_between(col("start"), col("end"))).show(1)

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
+-------------------------+
only showing top 1 row

+--------------------------------+
|months_between(start, end, true)|
+--------------------------------+
|                    -16.67741935|
+--------------------------------+
only showing top 1 row

In [22]:
import org.apache.spark.sql.functions.{to_date, lit}

sc.range(5).withColumn("date", lit("2017-01-01"))
    .select(to_date(col("date"))).show(1)

+---------------+
|to_date(`date`)|
+---------------+
|     2017-01-01|
+---------------+
only showing top 1 row

In [24]:
// 파싱 할수 없는 날짜는 null을 출력 (yyyy-dd-MM) 이라 생각했을 때.
dateDF.select(to_date(lit("2016-20-12"))).show(1)
dateDF.select(to_date(lit("2017-12-11"))).show(1) // 얘는 에러라 판단하기가 힘듦.

+---------------------+
|to_date('2016-20-12')|
+---------------------+
|                 null|
+---------------------+
only showing top 1 row

+---------------------+
|to_date('2016-12-11')|
+---------------------+
|           2016-12-11|
+---------------------+
only showing top 1 row

In [29]:
// 위는 날짜 포맷을 입혀서 처리할 것.
import org.apache.spark.sql.functions.to_date

val dateFormat = "yyyy-dd-MM"
val cleanDateDF = sc.range(1).select(
    to_date(lit("2017-12-11"), dateFormat).alias("date"),
    to_date(lit("2017-20-12"), dateFormat).alias("date2")
)
cleanDateDF.show()

+----------+----------+
|      date|     date2|
+----------+----------+
|2017-11-12|2017-12-20|
+----------+----------+

dateFormat = yyyy-dd-MM
cleanDateDF = [date: date, date2: date]

[date: date, date2: date]

In [30]:
// timestamp는 항상 날짜 포맷을 지정해야함.
import org.apache.spark.sql.functions.to_timestamp

cleanDateDF.select(to_timestamp(col("date"), dateFormat)).show()

+----------------------------------+
|to_timestamp(`date`, 'yyyy-dd-MM')|
+----------------------------------+
|               2017-11-12 00:00:00|
+----------------------------------+

In [31]:
// 올바른 포맷과 타입의 날짜나 타임스탬프를 사용한다면 매우 쉽게 비교 연산도 가능
cleanDateDF.filter(col("date2") > lit("2017-12-12")).show()

+----------+----------+
|      date|     date2|
+----------+----------+
|2017-11-12|2017-12-20|
+----------+----------+

### 7. 널값 다루기
Dataframe에서는 빠져있거나 비어있는 데이터는 항상 null을 사용하는것이 좋음. <br>